{% extends 'base.html' %} {% block head %}
<title>My Works</title>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}



textarea::placeholder{
  font-family: "Poppins", sans-serif !important;

}
</style>
{% endblock %} 
{% block body %}

<div class="container__work">


<div class="child">
  <h2>My Works</h2>
  <div class="line" style="width: 125px; margin: -19px 0px 4px 0px"></div>
<table style="margin:25px 0px;">
  <tr>
    <th>S. No.</th>
    <th>Work Name</th>
    <!-- <th>Max Days</th>
    <th>Max Amount</th> -->
    <th>Category</th>
    <th>Assigned</th>
    <th>Created</th>
    <th>Explore</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  
  <tr>
    <td>1.</td>
    <td>Ecommerce Website</td>
    <td>Freelancer</td>
    <td>Ankit Gupta</td>
    <td>21 June , 2021</td>
    <td>Click</td>
    <td>Edit</td>
    <td>Delete</td>
  </tr>

</table>

</div>



</div>
{% endblock %}
