{% extends 'base.html' %} {% block head %} {% load static %}
<title>Work Description</title>

<link rel="stylesheet" href="{% static 'responsive.css' %}" />
<link rel="stylesheet" href="{% static 'workDescription.css' %}" />

{% endblock %} {% block body %}

<div class="bg">
  <div class="description">
    <h1>Work Description</h1>
    <span>Home / Work Description</span>
  </div>
</div>

<div class="description_card">
  <table>
    <tr>
      <td>Work Name</td>
      <td>{{obj.title}}</td>
    </tr>

    <tr>
      <td>Creator</td>
      <td>
        {{obj.creator.username.first_name}} {{obj.creator.username.last_name}}
      </td>
    </tr>
    <tr>
      <td>Category</td>
      <td>{{obj.category}}</td>
    </tr>

    <tr>
      <td>Amount</td>
      <td>Rs. {{obj.maxamount}}</td>
    </tr>

    <tr>
      <td>Completion Days</td>
      <td>{{obj.maxdays}} Days</td>
    </tr>

    <tr>
      <td>Description</td>
      <td>{{obj.description}}</td>
    </tr>
    {% if workerProfile %}
    <form method="POST" action="">
      {% csrf_token %}
      <tr>
        <td>Bid Amount</td>
        <td>
          {% if bidData %}
          Rs. {{bidData.proposal_price}}
        {% else %}
          <input
            type="number"
            name="bidamount"
            placeholder="Enter bid amount"
            class="form__bid"
          />
          {% endif %}
        </td>
      </tr>

      <tr>
        <td>Bid Days</td>
        <td>
          {% if bidData %}
           {{bidData.proposal_days}} Days
        {% else %}
          <input
            type="number"
            name="biddays"
            placeholder="Enter bid days"
            class="form__bid"
          />
          {% endif %}
        </td>
      </tr>

      <tr>
        <td>Submit</td>
        {% if bid %}
        <td>Submitted <i class="bi bi-check-circle"></i></td>
        {% else %}
        <td>
          <input
            type="Submit"
            name=""
            placeholder="Enter bid days"
            class="form__btn"
          />
        </td>
        {% endif %}
      </tr>
    </form>
    {% endif %}
  </table>
</div>

{% endblock %}
