/* @import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap"); */
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

body {
  margin: 0;
  /* font-family: "Varela Round", sans-serif; */
  font-family: "Poppins", sans-serif !important;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  float: right;
  font-size: 24px;
  background: transparent;
  border: none;
  outline: none;
  font-weight: bold;
}
.sidepan,
.sidebar {
  padding: 0px 20px;
  margin: 0;
}
.sidebar {
  padding: 0px 25px;
}

aside {
  margin: 0;
  padding: 0;
}
.sidebar .links {
  width: 200px;
  height: 100%;
  /* border: 1px solid #000; */
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 40px;
  background: white;
  font-size: 20px;
  transition: 0.4s ease;
  /* left: -180px; */
}
.add__class {
  transform: translate(-100%);
}
ul {
  padding: 0px 35px;
  margin: 0;
  z-index: 200;

  /* box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1); */
}
ul li {
  list-style-type: none;
  line-height: 45px;
}
ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  padding: 6px 8px;
  border-radius: 3px;
}
ul a:hover {
  text-decoration: underline;
  transition: 0.4s ease-in;
}

/* App home */
.header {
  background-color: rgba(216, 209, 209, 0.2);
}

.container__header {
  display: flex;
  /* background-color: rgba(104, 99, 99, 0.2); */
  /* color: white; */
  width: 80%;
  margin: 0 auto;
}
.content {
  padding-top: 75px !important;
}
.container {
  padding: 10px 30px;
  width: 90%;
}
.container h1,
span {
  margin: 0;
  /* padding: 0; */
}
.container p {
  padding-bottom: 20px !important;
}
.container p {
  margin-bottom: 20px;
}
.container__header .container img {
  width: 100%;
  height: auto;
}

.container {
  margin: 30px 0px;
  width: 80%;
  height: auto;
}
.btn_dark {
  padding: 10px 20px;
  background: darkblue;
  text-align: center;
  text-decoration: none;
  border-radius: 2px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  color: white;
  width: 160px !important;
}
.side {
  margin-left: 10px !important;
  background: transparent;
  border: 2px solid darkblue;
  color: #000;
}
.form_wrap {
  display: flex;
  justify-content: center;
  background-color: rgba(216, 209, 209, 0.2);

}
form {
  width: 300px;
  margin: 40px 20px 40px 20px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 25px;
  border-radius: 4px;
  border-top: 5px solid darkblue;
  /* border: 2px dashed blue; */
}
form input,
select,
textarea {
  display: block;
  margin: 15px 0px;
  margin-left: 15px;
  padding: 6px 8px;
  width: 250px;
  border: 1.5px solid rgb(218, 213, 213);
  font-weight: 500;
  font-size: medium;
  outline: none;
}
form select {
  width: 270px;
}
.btn_submit {
  width: 270px !important;
  background: darkblue;
  color: white;
  padding: 8px 8px;
  border: none;
  display: block;
  border-radius: 2px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.hide {
  display: none;
}
.modal_btn {
  font-size: 20px;
  padding: 4px 8px;
  /* padding-bottom: 4px; */
  margin: 0px 10px;
  border: 2px solid darkblue;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);

  border-radius: 3px;
}
.profile_section {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 25px 0px 0px 0px;
}
.profile_section h2,
h4 {
  padding: 0;
  margin: 0;
}
.profile_section .content_section {
  padding: 20px 10px;
}

.profile_section a {
  border: 1px solid darkblue;
  padding: 4px 6px;
  border-radius: 3px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 8px;
  text-decoration: none;
  color: #000;
}
.profile_wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 10px 0px;
}
.line {
  height: 3px;
  width: 155px;
  background: darkcyan;
}
.review_card {
  padding: 10px 0px 2px 0px;
}
.userhome_container {
  margin: 0px auto;
  padding: 20px 10px;
  width: 90%;
  height: auto;
}

.search_form {
  display: inline-block;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border: none;
}
.search_form input {
  width: 80%;
  border: none;
}
.search_form button {
  margin-top: -48px;
  padding: 3px 4px;
  margin-right: 12px;
  border: 2px solid darkblue;
  font-size: 18px;
  cursor: pointer;
}
.headline {
  margin: 20px 0px;
}
.bordered {
  border: 1px solid;
  padding: 1px 8px;
}
.container__work{
  display: flex;
  justify-content: flex-start;
  background-color: rgba(216, 209, 209, 0.2);

  padding: 20px 30px;

}
.card__style{
  background-color:darkblue;
  color:white;
  font-size: 13px;
  width: auto;
  padding:4px 7px;
  margin:6px 0px;
  border-radius: 1px;
}
.rating{
  font-size: 16px;
  /* color: grey; */
  font-weight: 500;
}
@media only screen and (max-width: 800px) {
  .container__header {
    flex-direction: column;
    width: 100%;
  }
  .content {
    padding-top: 30px !important;
  }
  .container .container__img img {
    margin-top: -30px;
  }
  .wrap {
    display: flex;
    flex-direction: column;
  }
  .card {
    margin-right: 20px;
    margin-top: 0px;
  }
  .container__work{
    flex-direction: column;
    padding: 20px 30px;
  
  }
  /* .btn_dark {
  padding: 10px 15px;
} */
}
/* End */
