

    {% extends 'base.html' %}
    {% block head %} 
    <title>Signup</title> 
    <style>
        
    </style>
    {% endblock %}

    
    {% block body %}
<div class="form_wrap">
    <form method="POST" action="">
    {% csrf_token %}

        <h3 style="color: crimson;margin-left: 15px;">Create An Account</h3>
        <input type="text" placeholder="First Name" name="firstname" required/>
        <input type="text" placeholder="Last Name" name="lname" required/>
        <!-- <input type="email" placeholder="Email address (optional)" /> -->
        <input type="number" placeholder="Phone Number" name="phone" required/>
        <input type="password" placeholder="Password" name="pass1" required />
        <input type="password" placeholder="Confirm Password" name="pass2" required/>
        <select onchange=fire() name="profile" id="profile" required>
            <option default>Select Account Type</option>
            <option value="0">User</option>
            <option value="1"> Worker</option>
        </select>
        <select  name="occupation" class="show_item_one" required>
            <option value="-1" default>Occupation</option>
            <option value="IT Worker (Website, App etc.)">IT Worker (Website, App etc.)</option>
            <option value="Freelancer">Freelancer</option>
            <option value="Designer">Designer</option>
            <option value="Household Worker">Household Worker</option>
            <option value="Cattering Services">Cattering Services</option>
            <option value="Tutor">Tutor</option>
            <option value="Painter">Painter</option>
            <option value="Carpenter">Carpenter</option>
            <option value="Tailor">Tailor</option>
            <option value="Plumber">Plumber</option>



            <option value="Electrician">Electrician</option>
            <option value="Mechanic">Mechanic</option>

        </select>
        <select  name="exp" class="show_item" required>
            <option value="-1" default>Experience</option>
            <option value="0-1 years">0-1 years</option>
            <option value="1-2 years">1-2 years</option>
            <option value="3-5 years">3-5 years</option>
            <option value="5-10 years">5-10 years</option>
            <option value="10+ years">10+ years</option>
        </select>
        

        <select  name="money" class="show_item_two" required>
            <option value="-1" default>Rupees</option>
            <option value="Rs. 0-500">Rs. 0-500</option>
            <option value="Rs. 500-1000">Rs. 500-1000</option>
            <option value="Rs. 1000 or above">Rs. 1000 or above</option>

        </select>
        <select name="hd" class="show_item_three"required >
            <option value="-1" default>Charges per hour or day</option>
            <option value="Hour">Hour</option>
            <option value="Day">Day</option>
        </select>
<input type="number" name="pin" placeholder="Pincode e.g. 226024" required />


{% if msg %}
<span class="error" style="color: red;margin-left: 20px;">{{msg}}</span>
{% endif %}
        <input type="submit" value="Register" class="btn_submit" />


    </form>
    

</div>
    
    {% endblock %}