{% extends 'base.html' %} 
{% block head %}
{% load static %}
<title>Search Results</title>
<style>
  .bg {
    height: auto;
    width: 100%;
    background: rgba(199, 201, 202, 0.3);
    padding-bottom: 50px;

  }
</style>
<link rel="stylesheet" href="{% static 'responsive.css' %}">

{% endblock %}

{% block body %}
<div class="bg">
<div class="userhome_container">


    <div class="headline">
        <h2>Serach Results : </h2>
        <div class="line" style="width: 190px; margin: -19px 0px 4px 0px"></div>
    </div>

    {% load static %}

    <!-- workers near you -->
    <div class="row">
        <div class="column">
          <div class="card">
      
                <div class="left">
       
        <img  src="{% static 'images/male.png' %}" alt="profile" width="60px" height="60px" style="border-radius: 50%;"/>
                </div>
                <div class="right">
                    <h2>Vinay Kumar</h2>
                   
                    <span style="color: rgba(0,0,0,0.4);font-weight: 600;">Electrician</span>
                    <!-- <span>Rating : 4.2+</span> -->
                    <span>🏠 Aliganj, Lucknow (226021)</span>
                    <div style="margin: 14px 0px;">
                    <a href="" style="padding: 3px 5px; border: 1px solid darkblue;border-radius: 3px;text-decoration: none;margin: 0px 0px;">Call Me</a>
                    <a href="" style="padding: 3px 5px; border: 1px solid darkblue;border-radius: 3px;text-decoration: none;margin: 0px 10px;">Chat Me</a>
                </div>

               

            </div>
          </div>
        </div>

        <div class="column">
            <div class="card">
        
                  <div class="left">
         
          <img  src="{% static 'images/male.png' %}" alt="profile" width="60px" height="60px" style="border-radius: 50%;"/>
                  </div>
                  <div class="right">
                      <h2>Vinay Kumar</h2>
                     
                      <span style="color: rgba(0,0,0,0.4);font-weight: 600;">Electrician</span>
                      <!-- <span>Rating : 4.2+</span> -->
                      <span>🏠 Aliganj, Lucknow (226021)</span>
                      <div style="margin: 14px 0px;">
                      <a href="" style="padding: 3px 5px; border: 1px solid darkblue;border-radius: 3px;text-decoration: none;margin: 0px 0px;">Call Me</a>
                      <a href="" style="padding: 3px 5px; border: 1px solid darkblue;border-radius: 3px;text-decoration: none;margin: 0px 10px;">Chat Me</a>
                  </div>
  
                 
  
              </div>
            </div>
          </div>

          <div class="column">
            <div class="card">
        
                  <div class="left">
         
          <img  src="{% static 'images/male.png' %}" alt="profile" width="60px" height="60px" style="border-radius: 50%;"/>
                  </div>
                  <div class="right">
                      <h2>Vinay Kumar</h2>
                     
                      <span style="color: rgba(0,0,0,0.4);font-weight: 600;">Electrician</span>
                      <!-- <span>Rating : 4.2+</span> -->
                      <span>🏠 Aliganj, Lucknow (226021)</span>
                      <div style="margin: 14px 0px;">
                      <a href="" style="padding: 3px 5px; border: 1px solid darkblue;border-radius: 3px;text-decoration: none;margin: 0px 0px;">Call Me</a>
                      <a href="" style="padding: 3px 5px; border: 1px solid darkblue;border-radius: 3px;text-decoration: none;margin: 0px 10px;">Chat Me</a>
                  </div>
  
                 
  
              </div>
            </div>
          </div>

          <div class="column">
            <div class="card">
        
                  <div class="left">
         
          <img  src="{% static 'images/male.png' %}" alt="profile" width="60px" height="60px" style="border-radius: 50%;"/>
                  </div>
                  <div class="right">
                      <h2>Vinay Kumar</h2>
                     
                      <span style="color: rgba(0,0,0,0.4);font-weight: 600;">Electrician</span>
                      <!-- <span>Rating : 4.2+</span> -->
                      <span>🏠 Aliganj, Lucknow (226021)</span>
                      <div style="margin: 14px 0px;">
                      <a href="" style="padding: 3px 5px; border: 1px solid darkblue;border-radius: 3px;text-decoration: none;margin: 0px 0px;">Call Me</a>
                      <a href="" style="padding: 3px 5px; border: 1px solid darkblue;border-radius: 3px;text-decoration: none;margin: 0px 10px;">Chat Me</a>
                  </div>
  
                 
  
              </div>
            </div>
          </div>

          <div class="column">
            <div class="card">
        
                  <div class="left">
         
          <img  src="{% static 'images/male.png' %}" alt="profile" width="60px" height="60px" style="border-radius: 50%;"/>
                  </div>
                  <div class="right">
                      <h2>Vinay Kumar</h2>
                     
                      <span style="color: rgba(0,0,0,0.4);font-weight: 600;">Electrician</span>
                      <!-- <span>Rating : 4.2+</span> -->
                      <span>🏠 Aliganj, Lucknow (226021)</span>
                      <div style="margin: 14px 0px;">
                      <a href="" style="padding: 3px 5px; border: 1px solid darkblue;border-radius: 3px;text-decoration: none;margin: 0px 0px;">Call Me</a>
                      <a href="" style="padding: 3px 5px; border: 1px solid darkblue;border-radius: 3px;text-decoration: none;margin: 0px 10px;">Chat Me</a>
                  </div>
  
                 
  
              </div>
            </div>
          </div>
        
   
        
   
      </div>
    <!-- ---------------------------------- -->


    
</div>
</div>
{% endblock %}