{% extends 'base.html' %} 
{% block head %}
{% load static %}
<title>Search Results</title>
<style>
  .bg {
    height: auto;
    width: 100%;
    background: rgba(199, 201, 202, 0.3);
    padding-bottom: 50px;

  }
</style>
<link rel="stylesheet" href="{% static 'responsive.css' %}">

{% endblock %}

{% block body %}
<div class="bg">
<div class="userhome_container">


    <div class="headline">
        <h2>Serach Results : </h2>
        <div class="line" style="width: 190px; margin: -19px 0px 4px 0px"></div>
    </div>

    {% load static %}

    <!-- workers near you -->
    <div class="row">
      {% for i in workerObj %}
      <div class="column">
        <div class="card">
          <div class="left">
            <img
              src="{% static 'images/male.png' %}"
              alt="profile"
              width="60px"
              height="60px"
              style="border-radius: 50%"
            />
          </div>
          <div class="right">
            <h2>
              {{i.username.first_name}} {{i.username.last_name}} &nbsp;<a href="{% url 'seeprofile' key=i.username %}" 
                ><i class="bi bi-box-arrow-up-right"></i
              ></a>
            </h2>
  
            <span style="color: rgba(0, 0, 0, 0.4); font-weight: 600"
              >{{i.occupation}}</span
            >
            <!-- <span>Rating : 4.2+</span> -->
            <span>🏠 {{i.address}} ({{i.pincode}})</span>
            <div style="margin: 14px 0px">
              <a
                href="tel:{{i.phone}"
                style="
                  padding: 3px 5px;
                  border: 1px solid darkblue;
                  border-radius: 3px;
                  text-decoration: none;
                  margin: 0px 0px;
                  color: #000;
                "
                >Call Me</a
              >
              <a
                href="https://wa.me/{{i.phone}}"
                style="
                  padding: 3px 5px;
                  border: 1px solid darkblue;
                  border-radius: 3px;
                  text-decoration: none;
                  margin: 0px 10px;
                  color: #000;
                "
                >Chat Me</a
              >
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- ---------------------------------- -->


    
</div>
</div>
{% endblock %}